.leftSide, .rightSide {
  height: 50vh;
  width: 100%;
}

@media screen and (min-width:768px){
  .leftSide ,  .rightSide {
    height:100vh;
  }
}

.leftSide {
  background-color: #bbb8ff;
}

.rightSide {
  background-color: #ffffff;
}

.bio
{
  font-family: 'Lora', serif;
  margin:50px;
  padding:0;
  text-align: center;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
